[user]
    name = Jérôme Devoucoux
    email = jdevoucoux@gmail.com
[core]
    editor = vim

[alias]
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"
	tree = log --oneline --graph --decorate --all
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[push]
	autoSetupRemote = true
